@use "styles";

body {
    padding: 2em;
    height: 100vh;
    overflow-x: hidden;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.wrapper {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 768px;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: styles.$borderR5;
    
}