@use "styles";

.buttons-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 5px;
}
.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 25px;
}


.btn{
    width: 200px;
    box-sizing: content-box;
    padding: 10px;
    border-radius: styles.$borderR5;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    transition: styles.$transitions300;

    &:hover{
        transform: scale(1.05);
        box-shadow: 5px 10px 11px -12px #000;
    }
}
.btn-addtask,
.btn-removecompletedtask {
    width: 44%;
    }

.item-btn{
    width: 25px;
    padding: 2px;
    border:none;
}

.borrar-item{
    background-color: #ff0e0e;
    color: #fff;
}
.edit-item{
    background-color: #fffdfd;
    color: #232323;
}
.save-item {
    background-color: #72b152;
    color: #fff;
}