@media screen and (max-width: 767px){
    
    body {padding: 1em;}

    h1{font-size: 2rem;}

    .tasksform {width: 100%;}

    .tasklist {width: 100%;}

    .buttons-wrapper {flex-wrap: wrap;}
    .btn-addtask,
    .btn-removecompletedtask {
        width: 90%;
        padding: 5px;
    }

}
    