body {
  padding: 2em;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrapper {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 768px;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

* {
  font-family: "Dosis", arial;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.pending {
  font-size: 1.3rem;
  font-weight: 400;
}
.pending span {
  font-weight: 600;
}

input {
  font-size: 1.3rem;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

a {
  font-weight: bold;
}
a:focus {
  color: #000;
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 5px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 25px;
}

.btn {
  width: 200px;
  box-sizing: content-box;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  transition: 300ms;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 11px -12px #000;
}

.btn-addtask,
.btn-removecompletedtask {
  width: 44%;
}

.item-btn {
  width: 25px;
  padding: 2px;
  border: none;
}

.borrar-item {
  background-color: #ff0e0e;
  color: #fff;
}

.edit-item {
  background-color: #fffdfd;
  color: #232323;
}

.save-item {
  background-color: #72b152;
  color: #fff;
}

.tasksform {
  max-width: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.tasksform .writetask-input {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 2px 10px;
  line-height: 40px;
  outline: none;
  text-align: center;
  box-sizing: border-box;
  transition: 300ms;
}
.tasksform .writetask-input:focus {
  border-color: #1d1d1d;
}
.tasksform .writetask-input:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 11px -12px #000;
}

.tasklist {
  max-width: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
.tasklist ul {
  padding: 0;
}
.tasklist .modifyform div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 5px;
}
.tasklist .modifyform div .modify-input {
  width: 100%;
  border-radius: 5px;
  border-width: 0px;
  font-size: 15px;
  line-height: 28px;
  padding: 0 10px;
}
.tasklist .modifyform .errormsg {
  text-align: center;
  margin: 0;
}

.tasklist li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  padding: 5px;
  border-bottom: 1px dotted #505050;
  cursor: pointer;
}
.tasklist li p {
  width: 100%;
  font-weight: 600;
  line-height: 25px;
  padding: 5px 0;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0;
  max-width: 100%;
  gap: 20px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  transition: 300ms;
  border-radius: 5px;
  font-size: 1.6em;
  text-decoration: none;
  padding: 5px 15px;
  background-color: rgba(236, 236, 236, 0.63);
}
nav ul li a:hover {
  background-color: #fff;
  box-shadow: 5px 10px 11px -12px #000;
}

form.loginform {
  width: 90%;
}
form.loginform .input-wrapper .email-input, form.loginform .input-wrapper .password-input {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 2px 10px;
  line-height: 40px;
  margin: 15px 0 25px;
  outline: none;
  text-align: center;
  box-sizing: border-box;
  transition: 300ms;
}
form.loginform .input-wrapper .email-input:focus, form.loginform .input-wrapper .password-input:focus {
  border-color: #1d1d1d;
}
form.loginform .input-wrapper .email-input:hover, form.loginform .input-wrapper .password-input:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 11px -12px #000;
}

@media screen and (max-width: 767px) {
  body {
    padding: 1em;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  .tasksform {
    width: 100%;
  }

  .tasklist {
    width: 100%;
  }

  .buttons-wrapper,
.input-wrapper {
    flex-wrap: wrap;
  }

  .btn-addtask,
.btn-removecompletedtask {
    width: 90%;
    padding: 5px;
  }
}

/*# sourceMappingURL=App.css.map */
