@use "../styles";

.tasklist {
    max-width: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;

    ul {
        padding: 0;
    }
    .modifyform  {

        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            padding: 5px;

            .modify-input {
                width: 100%;
                border-radius: styles.$borderR5;
                border-width: styles.$noborder;
                font-size: 15px;
                line-height: 28px;
                padding:0 10px;
            }
        }

        .errormsg{
            text-align: center;
            margin: 0;
        }

    }
}

